* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Nunito sans";
}

.wrapper {
  max-width: 1024px;
  margin: 0 auto;
}
.main-div {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  margin: 20px;
}

.product {
  width: 157px;
  position: relative;
  border: 1px black solid;
  padding: 15px;
}

.image {
  border-radius: 10px;
  width: 100%;
  height: 222px;
  object-fit: cover;
}

.add-to-card-btn {
  position: absolute;
  z-index: 1;
  bottom: 53px;
  right: 10px;
}

.product-name {
  font-size: 14px;
  color: rgba(96, 96, 96, 1);
}

.price {
  color: rgba(48, 48, 48, 1);
  font-size: 14px;
  font-weight: 700;
}

.category-btn {
  padding: 13px;
}

.categories {
  width: 1000px;
  margin-top: 20px;
  display: flex;
  justify-content: center;
  gap: 10px;
}

.titles {
  display: flex;
  gap: 10px;
}
